# Configuración de Base de Datos
DB_HOST=localhost
DB_NOMBRE=smash_code
DB_USUARIO=root
DB_CLAVE=tu_contraseña_aqui

# Configuración de Servidor de Correos (SMTP)
SMTP_HOST=smtp.ejemplo.com
SMTP_PORT=587
SMTP_USER=tu_correo@ejemplo.com
SMTP_PASS=tu_contraseña_smtp

# Configuración de Seguridad
JWT_SECRET=genera_un_secreto_seguro_de_32_caracteres_o_mas
